* {
  outline: 0 !important;
}
html {
  margin: 0;
  padding: 0;
}
body {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-family: Titillium Web;
  color: #fff;
}
h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
}
h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}
p {
  text-align: center;
}
.hStyle_1 {
  position: relative;
  margin: 20px 0;
}
.hStyle_1::after {
  position: absolute;
  width: 87px;
  height: 4px;
  left: 43%;
  top: 100%;
  content: " ";
  background-color: black;
  opacity: 0.149;
}
.textStyle_2 {
  margin: 0px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.textStyle_1 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.444;
}
.big_button {
  display: block;
  width: 294px;
  height: 74px;
  padding: 0;
  margin: 40px auto;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: rgb( 150, 125, 125 );
  border-bottom: 4px solid  rgb( 110, 95, 95 );
}
.big_button:active{
  border-bottom: none;
  height: 70px;
}
/*
///////////////////
///// HEADER /////
/////////////////
*/
.main_header {
  width: 100%;
  height: 596px;
  background-color: rgb( 135, 80, 156 );
}
.top_header {
  width: 100%;
  height: 94px;
  position: relative;
}
.logo {
  color: #fff;
  font-size: 47px;
  font-weight: bold;
  font-style: italic;
  margin: 37px 0 0 211px;
  width: 117px;
  display: inline-block;
}
.top_header a {
  text-decoration: none;
  padding: 5px 15px;
  margin: 60px 0 0 10px;
  float: right;
  color: #fff;
}
.top_header a:hover {
  border-radius: 5px;
  background-color: rgb( 100, 58, 121 );
}
.Contact_href {
  margin-right: 180px !important;
}
.main_header h2 {
  line-height:  1.158;
  margin: 120px 0 0 0;
}
#but_1 {
  background-color: rgb( 235, 125, 75 );
  border-color: rgb( 205, 95, 45 );
}
#but_1:active {
  margin-top: 44px;
}
/*
/////////////////////
///// SERVICES /////
///////////////////
*/
.services {
  width: 100%;
  height: 747px;
  background-color: rgb( 23, 194, 164 );
  overflow: hidden;
}
.services_header {
  width: 620px;
  height: 140px;
  margin: 120px auto 40px auto;
}
.services_group {
  display: flex;
  justify-content: center;
}
.services_group h3 {
  margin: 200px 0 10px 0;
}
.services_group div {
  width: 197px;
  height: 310px;
  margin: 0 40px;
  background-size: contain;
  background-repeat: no-repeat;
}
.branding { background-image: url('Images/flag.png'); }
.desing { background-image: url('Images/pencil.png'); }
.development { background-image: url('Images/gears.png'); }
.rocket_sciense { background-image: url('Images/rocket.png');}
/*
/////////////////
///// TEAM /////
//////////////
*/
.team {
  width: 100%;
  height: 915px;
  color: rgb( 60, 71, 97 );
  background-color: rgb( 231, 241, 248 );
  overflow: hidden;
}
.team_header {
  width: 660px;
  height: 120px;
  margin: 115px auto 70px auto;
}
.team_group {
  display: flex;
  justify-content: center;
}
.team_group .team_group_item {
  width: 210px;
  height: 490px;
  margin:  0 40px;
  position: relative;
}
.team_group .team_group_item::before{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  content: "";
  background-color: rgb( 135, 135, 135 );
  position: absolute;
}
.team_group h3 {
  margin: 230px 0 0 0;
}
.job_title {
  color: rgb( 48, 186, 231 );
  margin-bottom: 20px;
}
.social_block {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.social_icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0px 5px;
  font-size: 0;
  border-radius: 50%;
  background-color: rgb( 189, 209, 223 );
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.href_facebook { background-image: url('Images/FB_icon.svg'); }
.href_twitter { background-image: url('Images/TWITTER_icon.svg'); }
.href_linkedin { background-image: url('Images/LINKEDIN_icon.svg'); }
.href_mail { background-image: url('Images/GMAIL_icon.svg'); }
/*
///////////////////
///// SKILLS /////
/////////////////
*/
.skills {
  width: 100%;
  height: 655px;
  color: rgb( 60, 71, 97 );
  background-color: rgb( 255, 255, 255 );
  overflow: hidden;
}
.skills_header {
  width: 580px;
  height: 130px;
  margin: 115px auto 70px auto;
}
.skills_group {
  display: flex;
  justify-content: center;
}
.skills_group_item {
  width: 200px;
  height: 240px;
  margin: 0px 40px;
}
.diagram {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 0px auto;
  background-color: rgb( 223, 232, 237 );
  position: relative;
  overflow: hidden;
}
.diagram::before {
  content: '';
  width: 130px;
  height: 130px;
  margin: 15px 15px;
  border-radius: 50%;
  background: #fff;
  z-index: 1;
  position: absolute;
}
.left, .right {
  width: 80px;
  height: 180px;
  background-color: rgb( 48, 186, 231 );
  position: absolute;
}
.left {
  transform: rotate(-35deg);
  left: -5px;
}
.right{
  transform: rotate(0deg);
  left: 80px;
}
.diagram_text {
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 43px;
}
.diagram_text .percent {
  font-size: 30px;
}
.progress_bar_2 .left {
  transform: rotate(-90deg);
  top: 30px;
}
.progress_bar_2 .left, .progress_bar_2 .right {
  background-color: rgb( 215, 70, 128 );
}
.progress_bar_3 .left {
  transform: rotate(-120deg);
  top: 60px;
}
.progress_bar_3 .left, .progress_bar_3 .right {
  background-color: rgb( 21, 199, 168 );
}
.progress_bar_4 .left {
  transform: rotate(-65deg);
  top: 15px;
}
.progress_bar_4 .left, .progress_bar_4 .right {
  background-color: rgb( 235, 125, 75 );
}
/*
//////////////////////
///// PROTFOLIO /////
////////////////////
*/
.portfolio {
  width: 100%;
  height: 1423px;
  color: rgb( 57, 57, 57 );
  background-color: rgb( 255, 221, 153 );
  overflow: hidden;
}
.portfolio_header {
  width: 530px;
  height: 135px;
  margin: 115px auto 0 auto;
}
.categories {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.categories a {
  width: 84px;
  padding: 5.5px 0;
  margin: 0 5px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: rgb( 57, 57, 57 );
  background-color: rgba( 0, 0, 0, 0.12);
  text-decoration: none;
}
.categories a:hover {
  background-color: #fff;
}
.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}
.works div {
  width: 560px;
  height: 360px;
  margin: 20px 20px;
  background-repeat: no-repeat;
  background-size: contain;
}
.works div p {
  margin-top: 340px;
}
.works_item_1 {
  background-image: url('Images/note1.png');
}
.works_item_2 {
  background-image: url('Images/note2.png');
  background-position: top -5px left 0;
}
.works_item_3 {
  background-image: url('Images/note3.png');
}
.works_item_4 {
  background-image: url('Images/note4.png');
}
#but_2 {
  background-color: rgb( 23, 194, 164 );
  border-color: rgb( 3, 174, 144 );
  margin-top: 60px;
}
#but_2:active {
  margin-top: 64px;
}
.Shape_34 {
  border-radius: 4px;
  background-color: rgb( 23, 194, 164 );
  position: absolute;
  left: 574px;
  top: 4156px;
  width: 293px;
  height: 70px;
  z-index: 70;
}
/*
/////////////////////////
///// TESTIMONIALS /////
///////////////////////
*/
.testimonials {
  width: 100%;
  height: 895px;
  background-color: rgb( 215, 70, 128 );
  overflow: hidden;
}
.testimonials_header {
  width: 620px;
  height: 105px;
  margin: 115px auto 0 auto;
}
.testimonials_group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
.testimonials_group .testimonials_item {
  display: flex;
  justify-content: flex-start;
  width: 520px;
  height: 200px;
  margin: 0 30px 100px 30px;
}
.circle {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: rgb( 120, 120, 120 );
}
.italic_text {
  width: 380px;
  font-size: 20px;
  line-height: 1.486;
  font-style: italic;
  text-align: left;
  margin: 5px 0 0 40px;
}
.item_text h3 {
  text-align: left;
  margin: 25px 0 0 40px;
}
.position_text {
  text-align: left;
  margin: -5px 0 0 40px;
  font-size: 18px;
  color: rgb( 255, 221, 153 );
}
/*
/////////////////////////
///// GET IN TOUCH /////
///////////////////////
*/
.get_in_touch {
  width: 100%;
  height: 819px;
  background-color: rgb( 60, 84, 153 );
  overflow: hidden;
}
.get_in_touch_header {
  width: 800px;
  height: 105px;
  margin: 115px auto 0 auto;
}
.contact_form {
  display: flex;
  width: 890px;
  height: 430px;
  margin: 60px auto;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
.contact_form [name=firstname], [name=login], [name=message] {
  border-radius: 4px;
  padding: 20px;
  border: none;
  font-size: 18px;
  color: #fff;
  background-color: rgb( 39, 58, 113 );
  font-family: Titillium Web;
}
.contact_form [name=firstname], [name=login] {
  width: 374px;
  height: 16px;
  margin-bottom: 30px;
}
.contact_form [name=firstname] {
  margin-right: 30px;
}
.contact_form [name=firstname]::after {
  content: '*';
  z-index: 4;
  font-size: 18px;
  color: #fff;
}
.contact_form [name=message] {
  width:  820px;
  height: 160px;
  position: absolute;
  top: 90px;
}
.contact_form [name=button] {
  margin: 0;
  margin-top: 260px;
  background-color: rgb( 48, 186, 231 );
  border-color: rgb( 8, 156, 201);
}
::placeholder {
  color: #fff;
  font-family: Titillium Web;
}
.place_holder {
    display: none;
    width: 100%;
    top: 15px;
    left: 20px;
    font-size: 18px;
    color: #fff;
    z-index: 1;
    position: absolute;
}
.placeinput input:invalid + .place_holder {
     display: inline;
}
.placeinput {
    position: relative;
    overflow: hidden;
}
.place_holder span {
  display: inline-block;
    color: red;
    font-size: 16px;
    vertical-align: top;
    margin: 2px 0 0 5px;
}
.point {
  display: none;
  position: absolute;
  top: 112px;
  left: 145px;
  z-index: 1;
  color: red;
}
.contact_form textarea:invalid + .point {
  display: inline;
}
.contact_form textarea {
  resize: none;
}
/*
/////////////////////////
///// SOCIAL MEDIA /////
///////////////////////
*/
.social_media {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 113px;
  background-color: rgb( 52, 75, 142 );
  overflow: hidden;
}
.social_media a {
  font-size: 24px;
  color: #fff;
  margin: 44px 30px;
  text-decoration: none;
  vertical-align: middle;
}
.social_media a:hover {
  color: rgb( 48, 186, 231);
}
